* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

header{
	height: 50px;
	background-color: #CE852A;
	color: #fff;
}

.menu ul {
	background-color: #CE852A;
	list-style: none;
}

.menu li {
	border: 30px;
	padding: 15px 10px;
	display: inline-block;
}

.menu ul ul {
	top: 50px;
	position: absolute;
}

.menu .itemList li {
	display: block;
}

.menu li:hover{
	background-color: #7F5224;
	cursor: pointer;
}

.hide {
	display: none;
}

.show {
	display: block;
}
